/* Footer */
.footer {
    background: #000000;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
.social-links {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: #666666;
  }
  